@keyframes rotateInfinite {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hightLightMoveDown {
  0% {
    transform: translate(-100%, -100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}